<div class="w3-bar">
  <div class="navbar" style="color: #3fada8;">
    <button md-button href="#about" pageScroll [pageScrollSpeed]="2000">About</button>
    <button md-button href="#exp" pageScroll [pageScrollSpeed]="2000">Experience</button>
    <button md-button href="#skill" pageScroll [pageScrollSpeed]="2000">Skill</button>
  </div>
</div>

<div class="grad1">

</div>

<h5 class="quotes w3-animate-top">
  <q>
    <i>
      If you always say i can't do that, <br>change it to how can i do that
    </i>
  </q>
</h5>


<div align="center">
  <h1 id="about">About</h1>
  <div class="aboutBox">
    <div>
      <img class="img" src="../assets/images/kylo.png">
    </div>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <br>
</div>

<!--
  You can edit on app.component.ts
-->
<div style="background-color:#66b9bf;">
  <h1 id="exp" align="center">Experience</h1>
  <div class="item" *ngFor="let work of works">
    <div class="image">
      <div>
        <img src="{{work.photo}}" />
      </div>
    </div>
    <div class="details">
      <div>
        <h1> <span style="color:#0066ff">{{work.name}}</span> <span style="color:black">as</span> <span style="color:#0066ff">{{work.as}}</span></h1>
        <h5>{{work.year}}</h5>
        <p>{{work.responsibility}} </p>
      </div>
    </div>
  </div>
</div>


<div style="margin-bottom:2em;height:700px" align="center">
  <h1 id="skill">Skill</h1>
  <div>
    <div style="display: block" style="height:30px;width:50%">
      <canvas baseChart baseChart [labels]="labels" [data]="data" [chartType]="type" [options]="barChartOptions"></canvas>
    </div>
  </div>

</div>


<!--
  Footer
  You can edit edit href and icon class on app.component.ts
-->
<md-toolbar style="background-color:#35797e">
  <div style="margin: auto">
    <a *ngFor="let sm of socialMedia" href="{{sm.link}}" target="_blank" style="margin:10px;"><i class="{{sm.icon}}"></i></a>
  </div>
</md-toolbar>